html {
  background-color: #333333;
}

body.container {
  margin: 0rem;
  width: 100%;
  height: 100%;
}

.mainpage{
  background: url(/img/DesktopBackground1.jpg) no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  height: 7rem;
  width: 100%;
  background-color: #333333;
  border-bottom: 4px solid #B4B4B4;
  /* position: fixed; */
}

.navlink {
  color: white;
  float: right;
  font-size: 2rem;
  text-align: center;
  padding: 1.8rem 1rem 1rem;
  text-decoration: none;
  display: inline;
}

.navlink:hover {
  color: #7a7a7a;
}

.namehero {
  color: white;
  font-size: 3rem;
  padding: 1rem 1rem 1rem;
  text-decoration: none;
  display: inline-block;
}

.namehero:hover {
  color: #7a7a7a;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.pagecontent {
  border-radius: 5px;
  min-width: 290px !important;
  width: 30%;
  opacity: .8;
  float: right;
  margin: 5rem 5rem 5rem 30rem;
  background: #454343;
  height: 50%;
  color: white;
}
.textbody{
  padding: 0rem 1rem 0rem 1rem;
}

.resumePhoto {
  display: block;
  float: left;
  max-width: 30em;
}
.resumeBody {
  color: white;
  margin: 2em 1em 0em 40em;
  min-width: 260px;
}

.resumePage {
  display: inline;
}
@media (max-width: 900px) {
  .navlink {
    font-size: 1.8rem;
    padding: 2.1rem 1rem 1rem;
  }
}

@media (max-width: 800px) {

  .mainpage{
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
    background: url(/img/MobileBackground1.jpg);
    background-color: #333333;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .navbar {
    height: 8rem;
    width: 100%
    margin: 0 0 0 0;
    background-color: #333333;
    border-bottom: 4px solid #B4B4B4;

  }
  .navlink {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    display: inline;
  }
  .namehero {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    display: inline-block;
  }
  .mobiledivider {
    position: relative;
    top: -65px;
    left: 65px;
    color: #B4B4B4;
    width: 100%;
  }
  .pagecontent {
    border-radius: 5px;
    min-width: 300px !important;
    width: 80%;
    opacity: .8;
    margin: 5rem 5rem 5rem 5rem;
    background: #454343;
    height: 50%;
    color: white;
  }
  .menuCenter {
    position: relative;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3rem;
  }
  .textbody{
    padding: 0rem 1rem 0rem 1rem;
  }
}
